<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Strona uniwersytetu</title>
  <meta name="description" content="Informacje na temat uniwersytetu i kierunków studiów dla nauczycieli">
  <link rel="shortcut icon" href="static/img/favicon.png">
</head>
<body>
  <!--[if lte IE 9]>
    <p>Korzystasz ze starej wersji przeglądarki. Zaktualizuj ja dla większego bezpieczeństwa w sieci oraz lepszych doświadczeń z przeglądania stron.</p>
  <![endif]-->

  <div class="uw-container">
    <%- include src/modules/kv/kv %>
    <%- include src/modules/forwhom/forwhom %>
    <%- include src/modules/whatfor/whatfor %>
    <%- include src/modules/withwhom/withwhom %>
    <%- include src/modules/form/form %>
    <%- include src/modules/footer/footer %>
  </div>

  <!-- Goole Maps -->
  <script>
    function initMap() {
      const place = {
        lat: 52.4026392, 
        lng: 16.9099599
      };

      const map = new google.maps.Map(
        document.getElementById('map'),
        {
          zoom: 16,
          center: place,
          mapTypeId: 'roadmap',
          disableDefaultUI: true
        }
      );

      const marker = new google.maps.Marker(
        {
          position: place,
          map: map,
          icon: "./static/img/marker.png"
        }
      );
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApGLIKHwIogqgviCxzDbipOZtxZsfkOqo&callback=initMap&language=pl"></script>
</body>
</html>
