@import "./src/fonts";

// variables
$yellow: #ffcd19;
$text-dark-1: rgb(0,40,65);
$text-dark-2: rgb(51,51,51);
$blue: #01a7c9;
$text-gray: #7b94a5;

// general styles
body {
  min-height: 100vh;
  font-family: "Muli";
  overflow-x: hidden;
}

// import modules
@import "./src/modules/kv/kv";
@import "./src/modules/forwhom/forwhom";
@import "./src/modules/whatfor/whatfor";
@import "./src/modules/withwhom/withwhom";
@import "./src/modules/form/form";
@import "./src/modules/footer/footer";