.uw-kv {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.uw-kv__content {
    position: absolute;
    padding-top: 42vh;
}

.uw-kv__heading-wrap {
    display: flex;
}

.uw-kv__heading {
    font-size: 40px;
    font-weight: 200;
    line-height: 60px;
    color: #fff;
    z-index: 1;

    &--blue {
        color: $blue;
    }
}

.uw-kv__buttons {
    margin-top: 2vh;
}

.uw-kv__button {
    height: 50px;
    text-align: left;
    margin-right: 1.2em;
    padding-left: 27px;
    font-size: 14px;
    font-weight: 400;
    background: none;
    color: #fff;
    border: 2px solid #f0f2f5;
    border-radius: 25px;
    box-shadow: 0px 11px 24px rgba(0,0,0,0.12);
    letter-spacing: 0.001em;
    text-transform: uppercase;
    outline: none;
    transition: color 0.2s ease-out;

    &:focus {
        outline: none;
    }
    
    &--1 {
        width: 183px;
        z-index: 1;
    }

    &--2 {
        width: 223px;
        z-index: 1;
    }

    &:hover {
        color: $text-dark-1;
        background: #fff;
        cursor: pointer;
    }
}

.uw-kv__button-link {
    text-decoration: none;
    display: inline-flex;
}

.uw-kv__content,
.uw-header {
    width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.uw-header {
    position: absolute;
}

.uw-header__nav {
    display: flex;
    height: 17vh;
}

.uw-logo {
    margin-top: 43px;
    z-index: 1;
}

.uw-menu {
    width: 100%;
    height: 64px;
    transition: height 0.7s;

    &--sticky {
        position: fixed;
        z-index: 2;
        background: #7d7373;
        opacity: 0.9;
        height: 50px;
        width: 1180px;
    }
}

.uw-menu__wrap {
    display: flex;
    justify-content: flex-end;
}

.uw-menu__list {
    display: flex;
    margin-top: 77px;
    list-style-type: none;

    &--sticky {
        margin-top: 17px;
        position: relative;
        left: -255px;
    }
}

.uw-menu__item {
    margin-left: 75px;
    z-index: 1;
}

.uw-menu__link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.7s ease;
    outline: none;

    &:hover {
        color: $yellow;
    }
}

// mobile menu
.uw-menu-mob {
    display: none;
    position: absolute;
    top: 30px;
    right: 15px;
    z-index: 3;
}

.uw-menu-mob__checkbox {
    display: block;
    opacity: 0;
    width: 31px;
    height: 30px;
    position: absolute;
    left: -1px;
    z-index: 4;
    cursor: pointer;

    &:checked {
        left: -3px;
        width: 26px;
        height: 28px;

        & ~ .uw-menu-mob__list {
            visibility: visible;
            opacity: 1;
            transform: translateX(-384px);
        }
    
        & ~ .uw-menu-mob__hamburger {
            background: $text-dark-2;

            &--trans-1 {
                transform: rotate(45deg) translate(0, 0);
            }

            &--trans-2 {
                transform: rotate(0deg) scale(0.2, 0.2);
                opacity: 0;
            }

            &--trans-3 {
                transform: rotate(-45deg) translate(0, 0);
            }
        }
    }
}

.uw-menu-mob__hamburger {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 8px;
    position: relative;
    background: #fff;
    border-radius: 5px;
    z-index: 3;
    transform-origin: -2px 2px;
    transition: transform 0.3s ease-in-out, background 0.4s;

    &--trans-3 {
        margin-bottom: 0;
    }
}

.uw-menu-mob__list {
    visibility: hidden;
    position: absolute;
    width: 370px;
    margin: -82px 0 0 50px;
    padding: 60px 30px 20px;
    background: #e8e6e4;
    list-style-type: none;
    opacity: 0;
    transition: opacity 0.5s, transform 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.uw-menu-mob__item {
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
}

.uw-menu-mob__link {
    text-decoration: none;
    color: $text-dark-2;

    &:hover {
        color: $blue;
    }
}

@media screen and(max-width: 1200px) {
    .uw-header,
    .uw-kv__content {
        width: 900px;
    }

    .uw-kv__content {
        position: absolute;
        padding-top: 36vh;
    }

    .uw-menu--sticky {
        width: 880px;
    }

    .uw-menu__list--sticky {
        position: relative;
        left: -110px;
    }
}

@media screen and(max-width: 992px) {
    .uw-header,
    .uw-kv__content {
        width: 768px;
    }

    .uw-header__nav {
        height: 10vh;
    }

    .uw-logo {
        margin: 15px 0 0 7px;
    }

    .uw-logo__img {
        width: 80%;
    }

    .uw-menu__list {
        margin-top: 40px;

        &--sticky {
            margin-top: 17px;
        }
    }

    .uw-menu__item {
        margin-left: 45px;
    }

    .uw-menu--sticky {
        width: 748px;
    }
}

@media screen and(max-width: 820px) {
    .uw-kv__content {
        padding-top: 19vh;
    }

    .uw-kv__heading {
        line-height: 50px;
    }
}

@media screen and(max-width: 768px) {
    .uw-header,
    .uw-kv__content {
        width: 600px;
    }

    .uw-logo__img {
        width: 65%;
    }

    .uw-menu {
        display: none;
    }

    .uw-kv__heading {
        width: 350px;
        line-height: 40px;
    }

    .uw-menu-mob {
        display: block;
    }
}

@media screen and(max-width: 600px) {
    .uw-header,
    .uw-kv__content {
        width: 360px;
    }

    .uw-kv__content {
        padding-top: 20vh;
    }

    .uw-logo__img {
        width: 55%;
    }
    
    .uw-kv__heading {
        font-size: 24px;
        line-height: 24px;
        width: 215px;
    }

    .uw-kv__button {
        margin-bottom: 0.7em;
        height: 35px;
        padding-left: 15px;
        font-size: 12px;

        &--1 {
            width: 128px;
        }

        &--2 {
            width: 163px;
        }
    }

    .uw-menu-mob__list {
        width: 300px;
    }

    .uw-menu-mob__checkbox:checked ~ .uw-menu-mob__list {
        transform: translateX(-315px);
    }
}

@media screen and(max-width: 360px) {
    .uw-header,
    .uw-kv__content {
        width: 320px;
    }

    .uw-menu-mob__list {
        width: 230px;
    }

    .uw-menu-mob__checkbox:checked ~ .uw-menu-mob__list {
        transform: translateX(-245px);
    }
}