.uw-slider {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.uw-slider__inner {
  position: absolute;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.uw-slider__slide {
  float: left;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

  &--bg-1 {
    background-image: url('/static/img/key_visual.png');
  }
  
  &--bg-2 {
    background-image: url('/static/img/key_visual.png');
  }
  
  &--bg-3 {
    background-image: url('/static/img/key_visual.png');
  }
  
  &--bg-4 {
    background-image: url('/static/img/key_visual.png');
  }
}

.uw-dots {
  position: absolute;
  width: 280px;
  right: -100px;
  margin-left: -50px;
  top: 50%;
  text-align: center;
  transform: rotate(90deg);
}

.uw-dots__dot {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: background 0.5s ease;
  
  &.active,
  &:hover {
    background: $yellow;
  }
}

.uw-arrows {
  margin-top: 15vh;
  display: flex;
}

.uw-arrow-left:hover {
  & .uw-arrow-left__head {
    border-left: 5px solid $yellow;
    border-bottom: 5px solid $yellow;
    left: 1px;
  }

  & .uw-arrow-left__tail {
    background: $yellow;
    left: 4px;
  }
}

.uw-arrow-right:hover {
  & .uw-arrow-right__head {
    border-right: 5px solid $yellow;
    border-bottom: 5px solid $yellow;
    left: 41px;
  }

  & .uw-arrow-right__tail {
    background: $yellow;
    left: 29px;
  }
}

.uw-arrow-left__head,
.uw-arrow-right__head {
  position: relative;
  display: block;
  width: 17px;
  height: 17px;
  border-bottom: 5px solid #fff;
  z-index: 2;
  outline: none;

  &:hover {
    border-bottom: 5px solid $yellow;
  }
}

.uw-arrow-left__head {
  left: 5px;
  transition: left 0.5s;
  transform: rotate(45deg);
  border-left: 5px solid #fff;
}

.uw-arrow-right__head {
  left: 37px;
  transition: left 0.5s;
  transform: rotate(-45deg);
  border-right: 5px solid #fff;
}

.uw-arrow-left__tail,
.uw-arrow-right__tail {
  width: 32px;
  background: #fff;
  height: 5px;
  float: left;
  position: relative;
  top: -13px;
  z-index: 2;
  transition: right 0.5s;
  transition: left 0.5s;
  outline: none;
}

.uw-arrow-left__tail {
  left: 7px;
}

.uw-arrow-right__tail {
  left: 25px;
}

@media screen and(max-width: 1024px) {
  .uw-arrows {
    margin-top: 12vh;
  }
}


@media screen and(max-width: 768px) {
  .uw-arrows {
    margin-top: 9vh;
  }
  
  .uw-dots {
    right: -115px;
  }
}

@media screen and(max-width: 576px) {
  .uw-slider__slide {
    &--bg-1 {
      background-image: url('/static/img/key_visual_small.png');
    }
  
    &--bg-2 {
      background-image: url('/static/img/key_visual_small.png');
    }
  
    &--bg-3 {
      background-image: url('/static/img/key_visual_small.png');
    }
  
    &--bg-4 {
      background-image: url('/static/img/key_visual_small.png');
    }
  }
}