<section class="uw-kv">
	<div class="uw-menu-mob">
		<input class="uw-menu-mob__checkbox" type="checkbox" />
		
		<span class="uw-menu-mob__hamburger uw-menu-mob__hamburger--trans-1"></span>
		<span class="uw-menu-mob__hamburger uw-menu-mob__hamburger--trans-2"></span>
		<span class="uw-menu-mob__hamburger uw-menu-mob__hamburger--trans-3"></span>
		
		<ul class="uw-menu-mob__list">
			<li class="uw-menu-mob__item"><a class="uw-menu-mob__link" href="#">I stopnia</a></li>
			<li class="uw-menu-mob__item"><a class="uw-menu-mob__link" href="#">II stopnia</a></li>
			<li class="uw-menu-mob__item"><a class="uw-menu-mob__link" href="#">Podyplomowe</a></li>
			<li class="uw-menu-mob__item"><a class="uw-menu-mob__link" href="#">Szkolenia</a></li>
			<li class="uw-menu-mob__item"><a class="uw-menu-mob__link" href="#">Usługi</a></li>
		</ul>
	</div>
	
	<header class="uw-header">
		<nav class="uw-header__nav">
			<div class="uw-logo">
				<a href="#"><img class="uw-logo__img" src="static/img/logo.png" alt="Logo z napisem Universitas Varsoviensis"/></a>
			</div>
	
			<div class="uw-menu">
				<div class="uw-menu__wrap">
					<ul class="uw-menu__list">
						<li class="uw-menu__item"><a class="uw-menu__link" href="#">I stopnia</a></li>
						<li class="uw-menu__item"><a class="uw-menu__link" href="#">II stopnia</a></li>
						<li class="uw-menu__item"><a class="uw-menu__link" href="#">Podyplomowe</a></li>
						<li class="uw-menu__item"><a class="uw-menu__link" href="#">Szkolenia</a></li>
						<li class="uw-menu__item"><a class="uw-menu__link" href="#">Usługi</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="uw-kv__content">
		<div class="uw-kv__heading-wrap">
			<h1 class="uw-kv__heading">Będziesz się uczyć z ciekawością.<br><span class="uw-kv__heading--blue">Obiecujemy.</span></h1>
		</div>
		<div class="uw-kv__buttons">
			<a class="uw-kv__button-link uw-kv__button-link--1" href="javascript:;">
				<button class="uw-kv__button uw-kv__button--1">
					Zobacz więcej
				</button>
			</a>
			<a class="uw-kv__button-link" href="#">
				<button class="uw-kv__button uw-kv__button--2">
					Umów się z aniołem
				</button>
			</a>
		</div>
		<div class="uw-arrows">
			<div class="uw-arrow-left">
				<a class="uw-arrow-left__head" href="#"></a>
				<a class="uw-arrow-left__tail" href="#"></a>
			</div>

			<div class="uw-arrow-right">
				<a class="uw-arrow-right__head" href="#"></a>
				<a class="uw-arrow-right__tail" href="#"></a>
			</div>
		</div>
	</div>
	
	<div class="uw-slider">
		<div class="uw-slider__slide uw-slider__slide--bg-1"></div>
		<div class="uw-slider__slide uw-slider__slide--bg-2"></div>
		<div class="uw-slider__slide uw-slider__slide--bg-3"></div>
		<div class="uw-slider__slide uw-slider__slide--bg-4"></div>
	</div>

	<div class="uw-dots"></div>
</section>