<section class="uw-withwhom">
    <div class="uw-withwhom__wrapper">
        <div class="uw-withwhom__txt-wrap">
            <h2 class="uw-withwhom__heading">Z kim?</h2>
            
            <p class="uw-withwhom__txt uw-withwhom__txt--1">Ciekawość jest najpotężniejszą cechą ludzką, która popycha ludzi do ciągłego rozwoju. CDV to miejsce, w którym studenci z zainteresowaniem i z przyjemnością zdobywają wiedzę. Zarówno studenci, absolwenci, jak i pracownicy to osoby nie tylko ciekawe świata, ale także pełne pasji w odkrywaniu nowych rzeczy i w pozytywny sposób wpływające na swoje otoczenie.</p>
            <p class="uw-withwhom__txt">Nasze kierunki studiów są interesujące i innowacyjne, tworzone we współpracy z pracodawcami oraz na podstawie trendów w światowej gospodarce i kierunku zmian na dynamicznym rynku pracy. Nasi absolwenci znajdują pracę zgodną ze swoimi zainteresowaniami i wykształceniem.</p>
        </div>
        <div class="uw-withwhom__img-wrap">
            <img class="uw-withwhom__img" src="static/img/with_whom.png" alt="Budynek uczelni">
            <img class="uw-withwhom__img-play" src="static/img/play.png" alt="Strzałka odtwarzająca film">
        </div>
    </div>
      
    <div class="uw-modal">
        <span class="uw-modal__hide-x">&times;</span>

        <div class="uw-modal__video">
            <iframe class="uw-modal__iframe" src="https://www.youtube.com/embed/iEM9yyHh1Ys" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</section>