.uw-withwhom {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    box-sizing: border-box;
}

.uw-withwhom__wrapper {
    width: 1200px;
    display: flex;
    padding: 0 10px;
    box-sizing: border-box;
}

.uw-withwhom__txt-wrap {
    padding-right: 15px;
}

.uw-withwhom__heading {
    font-size: 36px;
    font-weight: 800;
    line-height: 60px;
    color: $text-dark-1;
}

.uw-withwhom__txt {
    font-size: 18px;
    line-height: 32px;
    color: $text-dark-2;

    &--1 {
        margin-bottom: 1.8em;
    }
}

.uw-withwhom__img-wrap {
    position: relative;
    display: flex;
}

.uw-withwhom__img {
    position: relative;
    top: 47px;
    margin-bottom: 10em;
    margin-left: 8em;
    box-shadow: 0px 11px 35px rgba(95,95,95,0.22);
    cursor: pointer;
}

.uw-withwhom__img-play {
    position: absolute;
    top: 32%;
    left: 46%;
    cursor: pointer;
}


@media screen and(max-width: 1200px) {
    .uw-withwhom__wrapper {
        width: 900px;
    }

    .uw-withwhom__img-wrap {  
        display: flex;
        align-items: center;
    }

    .uw-withwhom__img {
        max-width: 450px;
        margin-bottom: 4em;
        margin-left: 0;
        top: 85px;
    }

    .uw-withwhom__img-play {
        top: 45%;
        left: 30%;
    }
}

@media screen and(max-width: 992px) {
    .uw-withwhom__wrapper {
        width: 768px;
        flex-direction: column;
    }

    .uw-withwhom__img-wrap {
        justify-content: center;
    }

    .uw-withwhom__img {
        max-width: unset;
        top: 47px;
        margin-bottom: 10em;
    }

    .uw-withwhom__img-play {
        top: 32%;
        left: 38%;
    }

    .uw-withwhom__txt-wrap {
        padding-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .uw-withwhom__wrapper {
        width: 600px;
    }

    .uw-withwhom__heading {
        font-size: 24px;
        line-height: 36px;
    }

    .uw-withwhom__txt {
        font-size: 12px;
        line-height: 22px;
    }

    .uw-withwhom__img {
        max-width: 100%;
    }

    .uw-withwhom__img-play {   
        width: 30%;
        top: 34%;
        left: 36%;
    }
}