.uw-modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;

    &--show {
        display: block;
    }
}
  
.uw-modal__video {
    position: relative;
    background-color: #fefefe;
    margin: 8vh auto auto;
    padding: 0;
    max-width: 1120px;
    max-height: 630px;
}

.uw-modal__hide-x {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    z-index: 5;

    &:hover,
    &:focus {
        color: $blue;
        cursor: pointer;
    }
}

.uw-modal__iframe {
    width: 1120px;
    height: 630px; 
}

// no page scrolling when modal is open
.uw-no-scroll {
    overflow: hidden;
}


@media screen and(max-width: 1200px) {
    .uw-modal__video {
        max-width: 900px;
        max-height: 480px;
    }

    .uw-modal__iframe {
        width: 900px;
        height: 480px;
    }   
}


@media screen and(max-width: 992px) {
    .uw-modal__video {
        max-width: 750px;
        max-height: 360px;
    }

    .uw-modal__iframe {
        width: 750px;
        height: 360px;
    }

    .uw-modal__hide-x {
        top: -6px;
        right: 6px;
    }
}

@media screen and (max-width: 768px) {
    .uw-modal__video {
        max-width: 560px;
        max-height: 290px;
    }

    .uw-modal__iframe {
        width: 560px;
        height: 290px;
    }
}


@media screen and (max-width: 600px) {
    .uw-modal__video {
        max-width: 100%;
    }

    .uw-modal__iframe {
        width: 100%;
    }

    .uw-modal__hide-x {
        top: 0px;
        right: 7px;
        font-size: 25px;
    }
}
