.uw-forwhom {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    box-sizing: border-box;
}

.uw-forwhom__wrapper {
    width: 1200px;
    display: flex;
    padding: 0 10px;
    box-sizing: border-box;
}

.uw-forwhom__text-wrap {
    padding-right: 15px;
}

.uw-forwhom__heading {
    font-size: 36px;
    font-weight: 800;
    line-height: 60px;
    color: $text-dark-1;
}

.uw-forwhom__txt {
    font-size: 18px;
    line-height: 32px;
    color: $text-dark-2;

    &--1 {
        margin-bottom: 1.8em;
    }

    &--2 {
        margin-bottom: 3.6em;
    }

    &--blue {
        color: $blue;
    }
}

.uw-forwhom__list {
    list-style-image: url('/static/img/list_item_arrow.png');
    padding-left: 24px;
}

.uw-forwhom__list-item {
    padding-left: 1em;

    &--1 {
        margin-bottom: 1em;
    }
}

.uw-forwhom__img {
    position: relative;
    top: 47px;
    margin-left: 8em;
    margin-bottom: 4em;
    box-shadow: 0px 11px 35px rgba(95,95,95,0.22);
}

@media screen and(max-width: 1200px) {
    .uw-forwhom__wrapper {
        width: 900px;
    }

    .uw-forwhom__img-wrap {  
        display: flex;
        align-items: center;
    }

    .uw-forwhom__img {
        max-width: 450px;
        margin-left: 0;
    }
}

@media screen and(max-width: 992px) {
    .uw-forwhom__wrapper {
        width: 768px;
        flex-direction: column;
    }

    .uw-forwhom__img-wrap {
        justify-content: center;
    }

    .uw-forwhom__img {
        max-width: unset;
    }

    .uw-forwhom__text-wrap {
        padding-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .uw-forwhom__wrapper {
        width: 600px;
    }

    .uw-forwhom__heading {
        font-size: 24px;
        line-height: 36px;
    }

    .uw-forwhom__txt {
        font-size: 12px;
        line-height: 22px;
    }

    .uw-forwhom__img {
        max-width: 100%;
    }
}