<section class="uw-forwhom">
    <div class="uw-forwhom__wrapper">
        <div class="uw-forwhom__text-wrap">
            <h2 class="uw-forwhom__heading">Dla kogo?</h2>
            <p class="uw-forwhom__txt uw-forwhom__txt--1">Dedykowane nauczycielom posiadającym przygotowanie pedagogiczne, którzy chcą uzyskać merytoryczne i metodyczne przygotowanie do nauczania kolejnego przedmiotu - Geografii.</p>
            <p class="uw-forwhom__txt uw-forwhom__txt--2">Studia adresowane są do osób legitymujących się wyższym wykształceniem na poziomie studiów licencjackim o specjalnościach nadających kwalifikacje nauczycielskie i przygotowanie pedagogiczne, lub słuchaczy legitymujących się wyższym wykształceniem na poziomie studiów magisterskich nadających kwalifikacje nauczycielskie i przygotowanie pedagogiczne, zgodnie z Rozporządzeniem Ministra Edukacji Narodowej z dnia 1 sierpnia 2017 r. w sprawie szczegółowych kwalifikacji wymaganych od nauczycieli <span class="uw-forwhom__txt--blue">(Dz.U. 2017 poz. 1575)</span>.</p>
        
            <p class="uw-forwhom__txt">Wymagane od kandydata:</p>
            <ul class="uw-forwhom__txt uw-forwhom__list">
                <li class="uw-forwhom__list-item uw-forwhom__list-item--1">Ukończone studia wyższe</li>
                <li class="uw-forwhom__list-item">Przygotowanie pedagogiczne</li>
            </ul>
        </div>
        <div class="uw-forwhom__img-wrap">
            <img class="uw-forwhom__img" src="static/img/for_whom.png" alt="Palec wskazujący na miejsce na globusie">
        </div>
    </div>
</section>