<section class="uw-form">
    <div class="uw-form__wrap">
        <div>
            <p class="uw-form__txt1">Nie znalazłeś odpowiedniego kontaktu?</p>
            <p class="uw-form__txt2">Skorzystaj z formularza.</p>
        </div>
        <form class="uw-form__form" novalidate="">
            <div class="uw-form__fields">
                <div class="uw-form__names-wrap">
                    <div class="uw-form__field-wrap uw-form__field-wrap--name">
                        <label class="uw-form__label" for="name">Imię *</label>
                        <input class="uw-form__input" id="name" type="text" name="name" minlength="1" maxlength="25" pattern="^[A-Za-z]*$" placeholder="Imię" value="" required>
                        <span class="uw-form__error uw-form__error--narrower" aria-live="polite"></span>
                    </div>
                    
                    <div class="uw-form__field-wrap uw-form__field-wrap--surname">
                        <label class="uw-form__label" for="surname">Nazwisko *</label>
                        <input class="uw-form__input" id="surname" type="text" name="surname" minlength="1" maxlength="25" pattern="^[A-Za-z]*$" placeholder="Nazwisko" value="" required>
                        <span class="uw-form__error uw-form__error--narrower" aria-live="polite"></span>
                    </div>
                </div>

                <div class="uw-form__field-wrap uw-form__field-wrap--email">
                    <label class="uw-form__label" for="email">Adres e-mail *</label>
                    <input class="uw-form__input uw-form__input--email" id="email" type="email" name="email" minlength="1" maxlength="70" placeholder="Adres e-mail" value="" required>
                    <div class="uw-form__error" aria-live="polite"></div>
                </div>

                <div class="uw-form__field-wrap uw-form__field-wrap--message">
                    <label class="uw-form__label" for="message">Treść wiadomości (max. 1000 znaków) *</label>
                    <textarea class="uw-form__input uw-form__input--message" id="message" name="message" minlength="1" maxlength="1000" placeholder="Treść wiadomości" required></textarea>
                    <span class="uw-form__error" aria-live="polite"></span>
                </div>
            </div>

            <input class="uw-form__checkbox" type="checkbox" id="checkbox" name="checkbox" required />
            <label class="uw-form__checkbox-label" for="checkbox">
                <span class="uw-form__checkbox-custom"></span>
                <div class="uw-form__checkbox-txt">Wyrażam zgodę na przetwarzanie moich danych osobowych w rozumieniu ustawy z dnia 29 sierpnia 1997 roku o ochronie danych osobowych oraz ustawy z dnia 16 lipca 2004 roku Prawo telekomunikacyjne w celach marketingowych przez Collegium Da Vinci i oświadczam, iż podanie przeze mnie danych osobowych jest dobrowolne oraz iż zostałem poinformowany o prawie żądania dostępu do moich danych osobowych, ich zmiany oraz usunięcia.</div>
            </label>
            <span class="uw-form__error uw-form__error--checkbox" aria-live="polite"></span>
            <div class="uw-form__button-wrap">
                <a class="uw-form__button-link" id="send-button" href="javascript:;">
                    <button class="uw-form__button">
                        Wyślij
                    </button>
                </a>
            </div>
        </form>
    </div>
</section>