.uw-form {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 0;
    background: #f5f7f9;
    box-sizing: border-box;
}

.uw-form__wrap {
    max-width: 580px;
}

.uw-form__txt1 {
    font-size: 18px;
    line-height: 32px;
    color: $text-dark-2;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
}

.uw-form__txt2 {
    font-size: 16px;
    line-height: 32px;
    color: $text-gray;
    text-align: center;
    margin-top: 0;
}

.uw-form__names-wrap {
    display: flex;
}

.uw-form__field-wrap {
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(145,154,159,0.08);
    background-color: #fff;
    padding: 12px 15px 0;
    cursor: pointer;
    overflow: hidden;

    &--name {
        width: 273px;
        height: 49px;
    }

    &--surname {
        margin-left: 33px;
        width: 273px;
        height: 49px;
    }

    &--email {
        margin-top: 19px;
        width: 579px;
        height: 49px;

        :-moz-placeholder,
        ::-moz-placeholder {
            color: $text-dark-1;
        }
    }

    &--message {
        margin-top: 19px;
        margin-bottom: 19px;
        width: 579px;
        height: 159px;
        overflow: hidden;
    }

    &:focus-within {
        box-shadow: 0px 8px 8px rgba(145,154,159,0.16);
    }

    &--error {
        border: 1px solid red;
    }
}

.uw-form__label {
    display: none;
    font-size: 11px;
    color: rgb(123,148,165);
    font-weight: bold;
    cursor: pointer;

    &--show {
        display: block;
    }
}

.uw-form__input {
    width: 100%;
    border: none;
    font-size: 15px;
    line-height: 21px;
    color: $text-dark-1;

    &--message{
        height: 87%;
        resize: none;
    }
    
    &:focus {
        outline: none;
    }

    &--error {
        color: red;
    }
}

.uw-form__error {
    padding: 0;
    height: 0;
    max-width: 545px;
    font-size: 14px;
    color: #fff;
    background-color: #f02323;
    border-radius: 0 0 10px 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    transition: height 0.05s ease-in-out, opacity 0.05s ease-in-out;
    position: absolute;
    
    &--narrower {
        max-width: 240px;
    }

    &--checkbox {
        margin-left: 20px;
        margin-top: -10px;
    }

    &--active {
        display: block;
        opacity: 1;
        height: auto;
        padding: 0.4em;
    }
}

.uw-form__checkbox {
    display: none;

    &:checked + .uw-form__checkbox-label .uw-form__checkbox-custom {
        background: #fff url('/static/img/tick.png') 3px 3px no-repeat;
    }
}

.uw-form__checkbox-custom {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-top: 2px solid #e4e4e4;
    border-left: 2px solid #e4e4e4;
    vertical-align: middle;
    cursor: pointer;
}

.uw-form__checkbox-txt {
    margin: 0 3em;
    color: $text-dark-1;
    font-size: 10px;
    line-height: 16px;
    font-weight: 700;
    position: relative;
    top: -1.2em;
}

.uw-form__button-wrap {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.no-outline:focus {
    outline: none;
}

.uw-form__button {
    width: 118px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 11px 24px rgba(0,182,220,0.12);
    background-color: #00b5db;
    font-size: 14px;
    border-radius: 25px;
    letter-spacing: 0.001em;
    border: 2px solid #f0f2f5;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    transition: color 0.2s ease-out;

    &:focus {
        outline: none;
    }

    &:hover {
        color: $text-dark-1;
        background: #6fd4e8;
        border: 1px solid #dedede;
        cursor: pointer;
    }
}

.uw-form__button-link {
    text-decoration: none;
    display: inline-flex;
}

@media screen and (max-width: 768px) {
    .uw-form__txt1 {
        font-size: 16px;
        line-height: 26px;
    }

    .uw-form__txt2 {
        font-size: 14px;
        line-height: 28px;
        padding-bottom: 2em;
    }

    .uw-form__checkbox-custom {
        width: 20px;
        height: 20px;
    }

    .uw-form__checkbox {
        &:checked + .uw-form__checkbox-label .uw-form__checkbox-custom {
            background: #fff url('/static/img/tick.png') 5px 6px no-repeat;
        }
    }
}

@media screen and (max-width: 600px) {
    .uw-form__wrap {
        width: 95%;
    }

    .uw-form__field-wrap {
        padding: 12px 8px 0;

        &--email,
        &--message {
            width: 100%;
        }

        &--surname {
            margin-left: 5px;
        }
    }

    .uw-form__error {
        max-width: 364px;

        &--narrower {
            max-width: 171px;
        }

        &--checkbox {
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 400px) {
    .uw-form__error {
        max-width: 287px;

        &--narrower {
            max-width: 132px;
        }
    }
}