<section class="uw-whatfor">
    <div class="uw-whatfor__wrapper">
        <div class="uw-whatfor__img-wrap">
            <img class="uw-whatfor__img" src="static/img/what_for.png" alt="Uścisk dłoni">
        </div>
        <div class="uw-whatfor__txt-wrap">
            <h2 class="uw-whatfor__heading">Po co?</h2>
            <p class="uw-whatfor__txt">Wiemy, co zrobić, by programy proponowanych kierunków studiów były jak najbardziej atrakcyjne z biznesowego punktu widzenia. Do współpracy zapraszamy przedsiębiorców, trenerów, doświadczonych praktyków. Dbamy o to, żeby nasi studenci korzystali z doświadczenia i wiedzy osób, które odniosły w życiu zawodowy sukces. Dążymy do tego, by wybierający naszą uczelnię już w trakcie studiów mieli kontakt z jak największą liczbą pracodawców i praktyków biznesu ponieważ wiemy, że pomoże to im w zdobyciu wielu potrzebnych kwalifikacji oraz umiejętności, które zaprocentują w każdym miejscu pracy a także zainspiruje do poszerzania swoich kompetencji.</p>
        </div>
    </div>
</section>