.uw-whatfor {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    box-sizing: border-box;
}

.uw-whatfor__wrapper {
    width: 1200px;
    display: flex;
    padding: 0 10px;
    box-sizing: border-box;
}

.uw-whatfor__txt-wrap {
    padding-left: 15px;
}

.uw-whatfor__heading {
    font-size: 36px;
    font-weight: 800;
    line-height: 60px;
    color: $text-dark-1;
}

.uw-whatfor__txt {
    font-size: 18px;
    line-height: 32px;
    color: $text-dark-2;
}

.uw-whatfor__img {
    position: relative;
    top: 47px;
    margin-right: 8em;
    margin-bottom: 4em;
    box-shadow: 0px 11px 35px rgba(95,95,95,0.22);
}

@media screen and(max-width: 1200px) {
    .uw-whatfor__wrapper {
        width: 900px;
    }

    .uw-whatfor__img-wrap {  
        display: flex;
        align-items: center;
    }

    .uw-whatfor__img {
        max-width: 450px;
        margin-right: 0;
        top: 84px;
    }
}

@media screen and(max-width: 992px) {
    .uw-whatfor__wrapper {
        width: 768px;
        flex-direction: column;
    }

    .uw-whatfor__img-wrap {
        justify-content: center;
        order: 2;
    }

    .uw-whatfor__img {
        max-width: unset;
        top: 47px;
    }

    .uw-whatfor__txt-wrap {
        padding-left: 0;
        order: 1;
    }
}

@media screen and (max-width: 768px) {
    .uw-whatfor__wrapper {
        width: 600px;
    }

    .uw-whatfor__heading {
        font-size: 24px;
        line-height: 36px;
    }

    .uw-whatfor__txt {
        font-size: 12px;
        line-height: 22px;
    }

    .uw-whatfor__img {
        max-width: 100%;
    }
}