.uw-footer {
    background: #001927;
    color: #fff;
    font-size: 15px;
    line-height: 12px;
    padding: 5.5em 0;
    display: flex;
    justify-content: center;
}

.uw-footer__wrap {
    width: 1200px;
    display: flex;
    margin-left: 7px;
}

.uw-footer__map-sec-wrap {
    padding: 0 5em 0 7px;
}

.uw-footer__address-wrap {
    font-style: normal;
    margin-bottom: 2.5em;
}

.uw-footer__address {
    margin-bottom: 1.3em;
}

.uw-footer__telephone {
    text-decoration: none;
    color: #fff;

    &:hover {
        color: $yellow;
    }
}

.uw-footer__map {
    width: 200px;
    height: 200px;
    border-radius: 50%; // fallback for clip-path
    clip-path: circle(99px at center);
}

// hide Google logo on the map
a[href^="http://maps.google.com/maps"] {
    display: none !important
}

a[href^="https://maps.google.com/maps"] {
    display: none !important
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
    display: none;
}

.gmnoprint div {
    background: none !important;
}
// end

.uw-footer__info-sec {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.uw-footer__info {
    display: flex;
    padding-bottom: 5em;
}

.uw-footer__list-wrap {
    &--1 {
        width: 160px;
    }

    &--2 {
        width: 225px;
    }

    &--3 {
        width: 185px;
    }

    &--4 {
        width: 245px;
    }

    &--5 {
        width: 90px;
    }
}

.uw-footer__list {
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
}

.uw-footer__list-heading {
    margin: 1.5em 0 2.3em;
}

.uw-footer__item {
    margin-bottom: 1.8em;
}

.uw-footer__link {
    text-decoration: none;
    color: #fff;
    outline: none;

    &:hover {
        color: $yellow;
    }
}

.uw-footer__project {
    text-align: right;
    padding-right: 135px;
}

@media screen and(max-width: 1200px) {
    .uw-footer__wrap {
        width: 900px;
    }

    .uw-footer__info {
        flex-wrap: wrap;
        padding-bottom: 2em;
    }

    .uw-footer__address-wrap {
        margin: 5em 0 6.5em 2em;
    }

    .uw-footer__list-wrap {
        &--1 {
            width: 225px;
        }

        &--2 {
            width: 225px;
        }

        &--3 {
            width: 225px;
        }

        &--4 {
            width: 250px;
        }

        &--5 {
            width: 100px;
        }
    }

    .uw-footer__project {
        text-align: left;
        padding-right: 0;
    }
}

@media screen and(max-width: 992px) {
    .uw-footer__wrap {
        width: 768px;
    }

    .uw-footer__address-wrap {
        margin: 3em 3em 8.6em 0em;
    }

    .uw-footer__list-wrap {
        &--1 {
            width: 175px;
        }

        &--2 {
            width: 225px;
        }

        &--3 {
            width: 175px;
        }

        &--4 {
            width: 195px;
        }

        &--5 {
            width: 95px;
        }
    }
}

@media screen and (max-width: 768px) {
    .uw-footer {
        padding: 3.5em 0;
    }

    .uw-footer__wrap {
        width: 600px;
        flex-wrap: wrap;
    }

    .uw-footer__info-sec {
        padding-left: 20px;
    }

    .uw-footer__address-wrap {
        margin: 3em 4.5em 5.5em 0em;
    }

    .uw-footer__map-sec-wrap {
        padding: 0 1em 0 20px;
    }

    .uw-footer__map-sec {
        display: flex;
    }

    .uw-footer__list-wrap {
        width: 190px;
    }

    .uw-footer__list-heading {
        margin: 1.5em 0 1.4em;
    }

    .uw-footer__item {
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 450px) {
    .uw-footer {
        padding: 1.5em 0;
    }

    .uw-footer__map-sec {
        display: block;
    }

    .uw-footer__info-sec,
    .uw-footer__map-sec-wrap {
        padding-left: 40px;
    }

    .uw-footer__map-sec {
        padding-bottom: 2em;
    }

    .uw-footer__address-wrap {
        margin: 1em 7em 2.5em 0em;
    }

    .uw-footer__list-wrap {
        width: 100%;
    }
}