<section class="uw-footer">
    <footer class="uw-footer__wrap">
        <div class="uw-footer__map-sec-wrap">
            <div class="uw-footer__map-sec">
                <address class="uw-footer__address-wrap">
                    <p class="uw-footer__address">ul. Jakaś 1</p>
                    <p class="uw-footer__address">00-000 Miasto</p>
                    <p class="uw-footer__address">tel. <a class="uw-footer__telephone" href="tel:612711000">00 00 00 000</a></p>
                </address>
                <div class="uw-footer__map" id="map"></div>
            </div>
        </div>
        <div class="uw-footer__info-sec">
            <div class="uw-footer__info">
                <div class="uw-footer__list-wrap uw-footer__list-wrap--1">
                    <p class="uw-footer__list-heading">O nas</p>
                    <ul class="uw-footer__list">
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Dlaczego CDV</a></li>
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Kadra naukowa</a></li>
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Dla mediów</a></li>
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Kontakt</a></li>
                    </ul>
                </div>
                <div class="uw-footer__list-wrap uw-footer__list-wrap--2">
                    <p class="uw-footer__list-heading">Dla kandydata</p>
                    <ul class="uw-footer__list">
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Poradnik maturzysty</a></li>
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Rekrutacja</a></li>
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Kredyt studencki</a></li>
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Studia dla cudzoziemców</a></li>
                    </ul>
                </div>
                <div class="uw-footer__list-wrap uw-footer__list-wrap--3">
                    <p class="uw-footer__list-heading">Dla studenta</p>
                    <ul class="uw-footer__list">
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Wirtualna Uczelnia</a></li>
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Stypendia</a></li>
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Biuro Karier</a></li>
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Studiuj dalej</a></li>
                    </ul>
                </div>
                <div class="uw-footer__list-wrap uw-footer__list-wrap--4">
                    <p class="uw-footer__list-heading">Dla biznesu</p>
                    <ul class="uw-footer__list">
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Współpraca z biznesem</a></li>
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">EmotionsLAB</a></li>
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Wynajem sal</a></li>
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Znajdź pracownika</a></li>
                    </ul>
                </div>
                <div class="uw-footer__list-wrap uw-footer__list-wrap--5">
                    <p class="uw-footer__list-heading">Na skróty</p>
                    <ul class="uw-footer__list">
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Aktualności</a></li>
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Wydarzenia</a></li>
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Konferencje</a></li>
                        <li class="uw-footer__item"><a class="uw-footer__link" href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="uw-footer__project">
                <p>Realizacja: SM</p>
            </div>
        </div>
    </footer>
</section>