@font-face {
    font-family: "Muli";
    src: url("./static/fonts/Muli-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Muli";
    src: url("./static/fonts/Muli-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Muli";
    src: url("./static/fonts/Muli-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Muli";
    src: url("./static/fonts/Muli-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Muli";
    src: url("./static/fonts/Muli-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Muli";
    src: url("./static/fonts/Muli-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Muli";
    src: url("./static/fonts/Muli-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Muli";
    src: url("./static/fonts/Muli-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Muli";
    src: url("./static/fonts/Muli-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Muli";
    src: url("./static/fonts/Muli-Regular.ttf");
}

@font-face {
    font-family: "Muli";
    src: url("./static/fonts/Muli-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Muli";
    src: url("./static/fonts/Muli-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}